/* .box{ */
    /* width: 600px;
    height: 200px; */
    /* border: 1px solid black; */
    /* background-image: linear-gradient(to left, red, orange, yellow, green); */
    /* background-image: linear-gradient(160deg, red, orange, yellow, green); */
    /* background-image: repeating-linear-gradient(red, blue 30%, green 20%); */
    /* background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 230, 0), rgb(0, 0, 0)); */
/* } */

/* header{
    width: 1260px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    background-color: aqua;
}

.child{
    width: 50vw;
    height: 50vh;
    border: 1px solid;
} */


